<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="SHM" />
        <meta name="author" content="Munteanu Alexandru-Sebastian" />
        <title>SHM - Sensor home management</title>
        <link th:href="@{/bootstrap/css/style/simple-datables.css}" rel="stylesheet" />
        <link th:href="@{/bootstrap/css/style/styles.css}" rel="stylesheet" />
        <script th:src="@{/bootstrap/js/actions/fontawesome.js}" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <div th:insert="~{fragments/nav-bar_fragment.html}"></div>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div th:insert="~{fragments/leftside-nav_content_fragment.html}"></div>
                    <div th:replace="~{fragments/leftside-footer_fragment.html}"></div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Pagina Principala</h1>
                        <div class="row border rounded-2 border-warning justify-content-center d-flex align-items-center m-4" >
                            <div class="d-flex justify-content-center mb-3">
                                <H4>Informatii utile</H4>
                            </div>
                            <div class="col-xl-4 col-md-12 mb-3">
                                <div class="card bg-light text-primary-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">Numar senzori</div>
                                    <div class="card-footer d-flex align-items-center justify-content-center">
                                        <div>
                                            <label th:text="${sensorNumber}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-12">
                                <div class="card bg-light text-primary-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">Alerte de la senzori azi</div>
                                    <div class="card-footer d-flex align-items-center justify-content-center">
                                        <div>
                                            <label th:text="${alertsToday}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-12">
                                <div class="card bg-light text-primary-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">Sms-uri transmise azi</div>
                                    <div class="card-footer d-flex align-items-center justify-content-center">
                                        <div>
                                            <label th:text="${smsToday}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <!-- Content Row -->
                            <div class="row">
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Numar senzori</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <label th:text="${sensorNumber}"/>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-braille fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Alerte de la senzori azi</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <label th:text="${alertsToday}"/>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-ring fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-info shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sms-uri transmise azi
                                                    </div>
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                                <label th:text="${smsToday}"/>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="progress progress-sm mr-2">
                                                                <div class="progress-bar bg-info" role="progressbar"
                                                                    style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-sms fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                    </div>
                </main>
                <footer>
                    <div th:insert="~{fragments/footer_fragment.html}"></div>
                </footer>
            </div>
        </div>
        <script th:src="@{/bootstrap/js/actions/bundle.min.js}"></script>
        <script th:src="@{/bootstrap/js/actions/scripts.js}"></script>
        <script th:src="@{/bootstrap/js/actions/simple-datatables.min.js}"></script>
        <script th:src="@{/bootstrap/js/actions/datatables-simple-demo.js}"></script>
    </body>
</html>